/* RockoFLF Regular */
@font-face {
  font-family: "RockoFLF";
  src: url('fonts/rockoflf.ttf');
  src: url('fonts/rockoflf.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* RockoFLF Bold */
@font-face {
  font-family: "RockoFLF";
  src: url('fonts/rockoflf-bold.ttf');
  src: url('fonts/rockoflf-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* RockoFLF Bolder */
@font-face {
  font-family: "RockoFLF";
  src: url('fonts/rockoultraflf.ttf');
  src: url('fonts/rockoultraflf.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* RockoFLF Boldest */
@font-face {
  font-family: "RockoFLF";
  src: url('fonts/rockoultraflf-bold.ttf');
  src: url('fonts/rockoultraflf-bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body, html {
    font-family: 'RockoFLF';
    height: 100%;
    margin: 0px 20px 10px 20px;
    background-color: lightgrey;
  }

  .logo {
    background-image: url('img/MYIMAGE.jpg');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  :root {
    text-size-adjust: 100%;
  }

  .add-note-bar {
    margin: 30px 0px 30px 0px;
  }

  .add-note-bar > input {
    border-radius: 5px;
    margin-right: 3px;
    border-style: solid;
    font-family: 'RockoFLF';
  }

  .add-note-bar > button {
    font-family: 'RockoFLF';
    font-weight: 700;
    border-radius: 10px;
  }

  .add-note-bar > button:hover {
    cursor: pointer;
  }

  h3 {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
  }

  .note-text > p {
    font-size: 14px;
    font-weight: 400;
  }

  .note {
    border-style: solid;
    border-radius: 6px;
    padding-left: 4px;
    padding-right: 4px;
    max-width: 300px;
    box-shadow: 0 2px 8px 0 rgba(82, 69, 49, 0.3), 0 3px 20px 0 rgba(82, 69, 49, 0.29);
    background-color: white;
    margin-top: 5px;
  }

  .note-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 1px 0.5px 1px 0.5px;
  }

  .left-container {
    display: flex;
  }

  .sanrio-color-icons {
    display: flex; 
    flex-direction: row;
    margin: 1px 1px 1px 1px;
  }

  .sanrio-color-icons > img {
    max-width: 6px;
  }

  .top-right-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }

  .note-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .edit-button {
    margin: 5px 4px 2px 10px;
  }

  .edit-button:hover {
    cursor: pointer;
  }

  .save-button {
    margin: 6px 4px 2px 4px;
  }

  .save-button:hover {
    cursor: pointer;
  }

  .delete-button {
    margin: 2px 4px 5px 4px;
  }

  .delete-button:hover {
    cursor: pointer;
  }

  .move-button {
    margin: 5px 4px 2px 4px;
  }

  .move-button:hover {
    cursor: pointer;
  }

  .edit-mode-title {
    border-style: none;
    font-weight: 600;
    font-size: 18px;
  }
