body, html {
    font-family: "Roboto", sans-serif;
    height: 100%;
  }

  .logo {
    background-image: url('img/MYIMAGE.jpg');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  :root {
    text-size-adjust: 100%;
  }